*,
::before,
::after {
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

/* Common */
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;

    display: inline-block;
    padding: 0 20px;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    color: #fff;
    background: #143c3c;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
